body{
  background-color: #ffffff;
}
.comm-main{
  border: 1px solid darkgray;
  .comm-img{
    height: 400px;
    img{
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .comm-center{
      table{
        td{
          padding: 15px 10px;
        }
      }
  }
}